
body{
    border-top: 10px solid white;
    border-left: 10px solid rgb(252, 80, 0);
    border-right: 10px solid rgb(43, 196, 5);
}
.container{
    width: 100%;
    height: 97vh;
    background-image: url("./sky.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.heading{
    width: 55%;
    height: auto;
    font-size: 48px;
    justify-content: center;
    margin: auto;
    padding-top: 5px;
    text-align: center;
    font-weight: 900;
}

.head1{
    background-color: rgb(252, 80, 0);
    padding-right: 10px;
}

.head2{
    background-color: white;
}

.head3{
    background-color:rgb(43, 196, 5);
    padding-left: 10px;
}

.road{
    width: 500%;
    height: 200px;
    display: block;
    background-image: url('./road.jpg');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 10s linear infinite;
}

@keyframes road{
    100%{
        transform: translate(-3400px);
    }
}
.sun{
position: relative;
left: 90%;
animation: sun 30s linear infinite;
}

@keyframes sun{
    100%{
        transform: translate(-1400px);
    }
}


.city{
    width: 500%;
    height: 250px;
    display: block;
    background-image: url("./city.png");
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 10s linear infinite;
}

@keyframes city{
    100%{
        transform: translate(-1400px);
    }
}




.car{
    width: 500px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
    z-index: 2;
}
.car img{
    width: 80%;
    animation: car 0.6s linear infinite;
}

@keyframes car{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}



.wheel{
    position: absolute;
    left: 49.5%;
    bottom: 125px;
    z-index: 2;
    transform: translate(-50%);

}

.wheel img{
    width: 86px;
}

.bwheel{
    position: absolute;
    bottom: -31px;
    right: 95px;
    animation: bwheel 1s linear infinite;
}

@keyframes bwheel{
    100%{
        transform: rotate(360deg);
    }
}

.fwheel{
    position: absolute;
    bottom: -34px;
    left: 52px;
    animation: fwheel 1s linear infinite;
}

@keyframes fwheel{
    100%{
        transform: rotate(360deg);
    }
}
